#ActivityCard{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 2.5rem;
    border-radius: 1rem;
    overflow: hidden;
    font-size: 10px;

    .img-icon{
        position: absolute;
        top: -10px;
        right: 20px;
    }

    .section{
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 2rem;
        border-radius: 1rem;
        cursor: pointer;
        background: var(--darkblue);

        &:hover{
            background: hsl(235, 46%, 30%);
        }

        .title{
            font-weight: 500;
            color: var(--white);
        }

        .btn-ellipsis{
            justify-self: flex-end;
        }

        .time-current{
            font-weight: 300;
            font-size: 3em;
            color: var(--white);
        }

        .time-prev{
            justify-self: flex-end;
            align-self: center;
            font-size: 1.4em;
            color: var(--paleblue);
        }
    }

    @media (min-width: 1400px) {
        .section {
            grid-template-rows: 40px;
            
            .time-prev,
            .time-current{
                grid-column: 1 / span 2;
                justify-self: flex-start;
            }

            .time-current{
                font-size: 6em;
            }

            .time-prev{
                font-size: 1.6em;
            }
        }
    }
}

