:root{
    --blue: hsl(246, 80%, 60%);
    --verydarkblue: hsl(226, 43%, 10%);
    --darkblue: hsl(235, 46%, 20%);
    --desaturatedblue: hsl(235, 45%, 61%);
    --paleblue: hsl(236, 100%, 87%);    
}